//-----------------------------
//共通設定
//-----------------------------

//共通フォント設定
.txt__big-en{
  font-family: "Montserrat";
}

.txt__sm-en{
  font-family:"Montserrat Medium";
}

.txt__ja{
  font-family: "游ゴシック体";
}

.txt__ja--about{
  font-family: "Noto Sans JP";
}


//共通モジュール設定
img{
  width: 100%;
  height:auto;
}

h2{
  font-family: "Montserrat";
  font-size: 32px;
  margin-bottom: 30px;
  letter-spacing: 2.18px;
  line-height: 1.22;
  color:#333333;
}

p{
  color:#333333;
}


a:hover{
  opacity: 70%;
  transition: 0.3s;
}

.readmore__button{
  display: inline-block;
  width: 160px;
  height: 36px;
  background-color: #000000;
  color: #ffffff;
  line-height: 36px;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  margin-top:30px;
  letter-spacing: 0.18px;
  font-family:"Montserrat Medium";
}

.header__main-txt{
  font-size:72px;
  line-height: 1.19;
}

.header__txt{
  color:#ffffff;
}

//ハンンバーガーメニュー 
.menu-trigger,
.menu-trigger span {
  display: inline-block;
  transition: all .4s;
  z-index: 9999;
}
.menu-trigger {
  position: relative;
  width: 22px;
  height: 12px;
  span{
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    border-radius: 2px;
  }
}
.menu-trigger span:nth-of-type(1) {top: 0;}
.menu-trigger span:nth-of-type(2) {top: 5px;}
.menu-trigger span:nth-of-type(3) {bottom: 0;}
.menu-trigger.active span:nth-of-type(1) {
  transform: translateY(5px) rotate(-315deg);
}
.menu-trigger.active span:nth-of-type(2) {
  opacity: 0;
}
.menu-trigger.active span:nth-of-type(3) {
  transform: translateY(-5px) rotate(315deg);
}

//ポップアップメニュー
.nav_popup{
  opacity: 0;
  transition: all .4s;
  .nav_main{
    position: fixed;
    top:0;
    right:0;
    height:100vh;
    width:520px;
    text-align: center;
    background-color: #222222;
    opacity:90%;
    z-index: 1000;
    .nav__menu{
      margin-top: 20vh;
      .nav__logo{
        width:42.15px;
      }
      nav{
        margin-top: 40px;
        color:#ffffff;
        font-size: 20px;
        li{
          margin-top: 30px;
        }
      }
    }
  }
  .nav_sub{
    position: fixed;
    top:0;
    left:0;
    height:100vh;
    width: 100vw;
    background-color: #222222;
    opacity: 60%;
    z-index: 900;
  }
}
.nav_popup.active{
  opacity:100%;
}

//「必須」表記
.must{
  font-size: 12px;
  font-family: "Noto Sans JP Bold";
  letter-spacing: 0.05px;
  background-color: #333333;
  color:#ffffff;
  padding:3px;
  margin-left: 10px;
}

footer{
  height:50px;
  background-color:#525252;
  p{
    text-align: center;
    line-height: 50px;
    font-size: 10px;
    color:#FFFFFF;
  }
}

//共通レイアウト設定
.ly_con{
  max-width:1100px;
  margin:0 auto;
}

//ヘッダー（高さ設定）
@mixin header($height){
  height:$height;
  position:relative;
}

//ヘッダーの黒ブロック
@mixin header__bk-area($width){
  background-color:#222222;
  height:100%;
  width:$width;
  position:absolute;
  top:0;
  right: 0;
  z-index: 0;
}

//ヘッダー画像
@mixin header__main-image($width){
  position:absolute;
  top:0;
  left: 0;
  width: $width;
  z-index: 1;
  display:flex;
  overflow: hidden;
  justify-content: center;
  align-items: start;
}

//ヘッダー画像の黒フィルター
.header__main-image::before{
  content:"";
  position:absolute;
  height:100%;
  width: 100%;
  background-color: #000000;
  opacity:34%;
}

//ヘッダーのロゴとハンバーガーメニュー
.header__site-logo{
  position:absolute;
  top: 30px;
  left: 58px;
  width:260px;
  height:28.2px;
  z-index: 100;
}
.header__menu{
  position:fixed;
  top: 36px;
  right: 58px;
  width:61px;
  z-index: 2000;
  display:flex;
  justify-content: space-between;
  align-items: center;
  img{
    width:22px;
  }
  p{
    color:#ffffff;
    font-size:10px;
    line-height: 100%;
  }
}

//cleafix処理
.clearfix::after{
  content: "";
  display: block;
  clear: both;
}

//-----------------------------
//共通設定ここまで
//-----------------------------



//-----------------------------
//トップページ
//-----------------------------
.mp__header{
  @include header(740px);
  .header__main-image{
    @include header__main-image(calc(1100 / 1440 *100%));
    height:640px;
    .header__photo{
      width:auto;
    }
  }
  .header__bk-area{
    @include header__bk-area(calc(780 / 1440 *100%));
  }

  .header__main-text{
    position: absolute;
    top: 161px;
    right:13.5vw;
    color:#ffffff;
    z-index: 100;
    h1{
      font-size:20px;
      line-height: 1;
      margin-bottom: 10px;
      .ha{
        margin-bottom: 8px;
      }
    }
  }
}


.aboutus{
  margin-top: 120px;
  height:607px;
  display: flex;
  align-items: center;
  position: relative;
  img{
    position: absolute;
    width:100%;
    z-index: 0;
  }
  .aboutus__text-area{
    position: absolute;
    margin-left: 50px;
    width:590px;
    background-color: #ffffff;
    opacity:95%;
    padding:50px 30px;
    z-index: 10;
    p{
      display:inline-block;
      font-size: 16px;
      line-height: 2;
      color: #333333;
    }
  }
}


.works-culture{
  background-color:#F0F0F0;
  padding: 180px 0 60px;
  margin-top: -100px;
  color:#333333;
  .works-culture__content{
    display: flex;
    justify-content: space-between;
    .works, .culture{
      .works__img, .culture__img{
        width:520px;
        height: 350px;
        margin-bottom: 30px;
      }
      .works__txt, .culture__txt{
        font-size: 16px;
        color: #333333;
      }
    }
  }
}


.topics{
  margin-top:60px;
  .topics__title{
    margin-bottom: 0;
  }
  .flex-area{
    display:flex;
    justify-content: flex-end;
  }
  .topics__text-area{
    width:700px;
    .topics__topic{
      margin-top:23px;
      border-bottom: 1px solid #DDDDDD;
      time{
        font-size: 8px;
        color: #CECECE;
        line-height: 1;
      }
      .topics__topic-txt{
        font-size: 14px;
        font-weight: bold;
        margin:13px 0 12px;
        line-height: 1;
      }
    }
  }
}


.contact{
  margin-top: 60px;
  background-color: #F2F2F2;
  padding:60px 0 120px;
  .contact__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .contact__txt{
      width:440px;
      vertical-align: middle;
      p{
        margin-top:22px;
        font-size: 16px;
        line-height: 2;
      }
    }
    .section__img{
      width:580px;
    }
  }
}






//-----------------------------
//ABOUT
//-----------------------------
.ab__header{
  @include header(464px);
  .header__main-image{
    @include header__main-image(calc(1100 / 1440 *100%));
    height:387px;
    .header__photo{
      width:auto;
      height:auto;
    }
  }
  .header__bk-area{
    @include header__bk-area(calc(780 / 1440 *100%));
  }

  .header__main-text{
    position: absolute;
    top: 156px;
    right:170px;
    color:#ffffff;
    z-index: 100;
    .header__main-txt{
      letter-spacing: 4.54px;
    }
    h1{
      font-size:20px;
      line-height: 1;
      margin-top: 5px;
      margin-bottom: 10px;
    }
  }
}


.vision{
  padding-top:120px;
  padding-left:calc(396 / 1440 * 100vw);
  .vision__subtitle{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
  }
  .vision__txt{
    font-size: 16px;
    line-height: 2;
    letter-spacing: 0;
  }
}


.message{
  margin-top:120px;
  .message__img{
    width:420px;
  }
  .message__text{
    float:right;
    margin-top: calc(-282.45px + 144px);
    background-color: #F0F0F0;
    width: 770px;
    padding:120px 185px 90px;
    .message__text_txt{
      font-size: 16px;
      line-height: 2;
      letter-spacing: 0;
    }
  }
}


.company{
  margin-top:120px;
  .company__border{
    border-bottom: 1px solid #DDDDDD;
  }
  table{
    font-family: "游ゴシック体";
    float:right;
    width:800px;
    line-height: 56px;
    tr{
      border-bottom: 1px solid #DDDDDD;
      .company__table-item{
        font-weight: bold;
      }
    }
  }
  .company__map{
    height:360px;
    margin:40px 0 120px;
  }
}




//-----------------------------
//CONTACT
//-----------------------------
.cont__header{
  @include header(451px);
  .header__main-image{
    @include header__main-image(calc(1100 / 1440 *100%));
    height:387px;
    align-items: center;
    .header__photo{
      width:100%;
    }
  }
  .header__bk-area{
    @include header__bk-area(calc(780 / 1440 *100%));
  }
  .header__main-text{
    position: absolute;
    top: 156px;
    right:150px;
    color:#ffffff;
    z-index: 100;
    .header__main-txt{
      letter-spacing: 4.54px;
    }
    h1{
      font-size:20px;
      line-height: 1;
      margin-top: 5px;
      margin-bottom: 10px;
    }
  }
}

.contact__form{
  margin:120px 0;
  color:#333333;
  .contact__form-area{
    width:700px;
    margin:0 auto;
    .form__exp{
      line-height:1.5;
    }
    form{
      margin-top: 55px;
      font-family: "Montserrat";
      .purpose{
        label{
          display: block;
        }
        .radio_area{
          display: inline-block;
          margin-right: 50px;
          p{
            margin-top: 21px;
            font-family: "游ゴシック体";
            input{
              width:20px;
              height:20px;
              margin-right: 10px;
              margin-top: 0;
            }
          }
        }
      }
      .input_area{
        margin-bottom: 45px;
        input{
          margin-top: 10px;
          border:1px solid #333333;
          width:100%;
          height:41px;
          padding:10px;
        }
        #contact_content{
          height:212px;
        }
        textarea{
          margin-top: 10px;
          display: block;
          border:1px solid #333333;
          padding:10px;
          width:100%;
          line-height: 1.5;
          height:252px;
          font-family:"Noto Sans JP";
        }
      }
      .confirm{
        text-align: center;
        .confirm_btn{
          width:20px;
          height:20px;
        }
        .confirm_txt{
          display: inline-block;
          font-family: "Noto Sans JP";
          vertical-align:middle;
          margin-left: 5px;
        }
        .submit_btn-area{
          .submit_btn{
            display: block;
            background-color: #000000;
            color:#ffffff;
            font-size: 14px;
            width: 160px;
            height: 36px;
            text-align: center;
            margin:41px auto 0;
          }
        }
      }
    }
  }
}





//-----------------------------
//タブレット
//-----------------------------
@media (max-width:1100px){

//-----------------------------
//共通設定
//-----------------------------
//共通モジュール設定
.header__main-txt{
  font-size:56px;
  line-height: 1;
  letter-spacing: 3.53px;
}

.nav_popup{
  .nav_main{
    position: fixed;
    height:100vh;
    width:100vw;
    top:0;
    left:0;
  }
  .nav_sub{
    display: none;
  }
}

//共通レイアウト設定
.ly_con{
  width:100%;
  margin:0 auto;
}

//ヘッダーのロゴとハンバーガーメニュー
.header__site-logo{
  position:absolute;
  top: 33.84px;
  left: 30px;
  width:189px;
  height:20.61px;
  z-index: 100;
}
.header__menu{
  position:fixed;
  top: 37px;
  right: 30px;
}

//ポップアップメニュー
.nav_popup{
  opacity: 0;
  .nav_main{
    width:100vw;
  }
  .nav_sub{
    display:none;
  }
}

//-----------------------------
//共通設定ここまで
//-----------------------------

//-----------------------------
//トップページ（タブレット）
//-----------------------------
.mp__header{
  @include header(1024px);
  .header__main-image{
    @include header__main-image(calc(600 / 768 *100%));
    height:890px;
    .header__photo{
      height:100%;
      width:auto;
      zoom:2;
    }
  }
  .header__bk-area{
    @include header__bk-area(calc(562 / 768 *100%));
  }

  .header__main-text{
    position: absolute;
    top: 333px;
    right:13.5vw;
    color:#ffffff;
    z-index: 100;
    h1{
      font-size:16px;
      line-height: 1;
      margin-bottom: 10px;
      letter-spacing: 1px;
      .ha{
        margin-bottom: 8px;
      }
    }
  }
}


.aboutus{
  margin-top: 80px;
  height:479px;
  overflow: hidden;
  img{
    position: static;
    height:auto;
    width:100%;
    zoom:2;
  }
  .aboutus__text-area{
    margin-left:0;
    left:calc((100vw - 590px) / 2);
    width:590px;
    padding:30px 30px;
  }
}


.works-culture{
  padding: 180px 30px 40px;
  margin-top: -150px;
  .works-culture__content{
    display: block;
    .works{
      margin-bottom: 80px;
    }
  }
}


.topics{
  margin-top:40px;
  padding-left: 30px;
  .flex-area{
    justify-content: flex-start;
  }
}

.contact{
  margin-top: 40px;
  padding:60px 30px 80px;
  .contact__container{
    flex-direction: column-reverse;
    align-items: start;
    .contact__txt{
      margin-top: 30px;
      width:510px;
    }
    .section__img{
      width:520px;
    }
  }
}


//-----------------------------
//ABOUT タブレット
//-----------------------------
.ab__header{
  @include header(615px);
  .header__main-image{
    @include header__main-image(calc(587 / 768 *100%));
    height:529px;
  }
  .header__bk-area{
    @include header__bk-area(calc(406 / 768 *100%));
  }

  .header__main-text{
    top: 220px;
    right:98px;
    .header__main-txt{
      letter-spacing: 3.28px;
      font-size: 52px;
    }
    h1{
      font-size:16px;
    }
  }
}


.vision{
  padding-top:80px;
  padding-left:calc(150 / 768 * 100vw);
  .vision__subtitle{
    font-size: 24px;
    font-weight: normal;
    font-family: "Noto Sans JP";
    margin-bottom: 35px;
  }
  .vision__txt{
    font-size: 14px;
  }
}


.message{
  margin-top:80px;
  padding:0 30px;
  .message__img{
    width:320px;
  }
  .message__text{
    margin-top: calc(-216px + 131px);
    background-color: #F0F0F0;
    width: 494px;
    padding:109px 40px 78px;
    .message__text_txt{
      font-size: 16px;
      line-height: 1.75;
      letter-spacing: 0;
    }
  }
}


.company{
  margin-top:82px;
  padding:0 30px;
  .company__border{
    border-bottom: 1px solid #DDDDDD;
  }
  table{
    float:right;
    width:calc(678 / 768 * 100vw);
  }
  .company__map{
    height:230px;
    margin:40px 0 80px;
  }
}


//-----------------------------
//CONTACTタブレット
//-----------------------------
.cont__header{
  @include header(615px);
  .header__main-image{
    @include header__main-image(calc(578 / 768 *100%));
    height:529px;
    .header__photo{
      width:auto;
      height:100%;
    }
  }
  .header__bk-area{
    @include header__bk-area(calc(406 / 768 *100%));
  }
  .header__main-text{
    top: 132px;
    right:50px;
    .header__main-txt{
      font-size: 52px;
      letter-spacing: 3.23px;
    }
    h1{
      font-size:16px;
      margin-top: 10px;
      font-weight: bold;
    }
  }
}

.contact__form{
  margin:135px 0 197px;
  padding: 0 50px;
  .contact__form-area{
    width:100%;
    margin:0 auto;
    form{
      margin-top: 21px;
      font-family: "Noto Sans JP";
    }
  }
}


}


//-----------------------------
//スマホ
//-----------------------------
@media (max-width:550px){
//-----------------------------
//共通設定
//-----------------------------
//共通モジュール設定
h2{
  font-size: 28px;
  letter-spacing: 1.9px;
}
//共通レイアウト設定
//ヘッダーのロゴとハンバーガーメニュー
.header__site-logo{
  position:absolute;
  top: 19.8px;
  left: 15px;
}
.header__menu{
  top: 24px;
  right: 15px;
}
//-----------------------------
//共通設定ここまで
//-----------------------------

//-----------------------------
//トップページ（スマホ）
//-----------------------------
.mp__header{
  @include header(667px);
  .header__main-image{
    @include header__main-image(calc(287 / 375 *100%));
    height:580px;
    .header__photo{
      height:100%;
      width:auto;
      zoom:2;
    }
  }
  .header__bk-area{
    @include header__bk-area(calc(283 / 375 *100%));
  }

  .header__main-text{
    top: 178px;
    right:5.33vw;
    
  }
}


.aboutus{
  margin-top: 78px;
  height:541px;
  img{
    position: static;
    height:100%;
    width:auto;
  }
  .aboutus__text-area{
    width:calc(100vw - 30px);
    left:15px;
    padding:50px 30px;
    p{
      font-size: 14px;
    }
  }
}


.works-culture{
  padding: 60px 15px 40px;
  margin-top: 0px;
  .works-culture__content{
    .works{
      margin-bottom: 40px;
    }
    .works, .culture{
      .works__img, .culture__img{
        width:100%;
        height: auto;
        margin-bottom: 30px;
      }
      .works__txt, .culture__txt{
        font-size: 14px;
        color: #333333;
      }
    }
  }
}


.topics{
  padding:0 15px;
}

.contact{
  margin-top: 40px;
  padding:40px 15px;
  .contact__container{
    flex-direction: column-reverse;
    align-items: start;
    .contact__txt{
      margin-top: 30px;
      width:100%;
    }
    .section__img{
      width:100%;
    }
  }
}


//-----------------------------
//ABOUT スマホ
//-----------------------------
.ab__header{
  @include header(449px);
  .header__main-image{
    @include header__main-image(calc(287 / 375 *100%));
    height:387px;
  }
  .header__bk-area{
    @include header__bk-area(calc(198 / 375 *100%));
  }

  .header__main-text{
    top: 149px;
    right:29px;
    .header__main-txt{
      letter-spacing: 0;
    }
    h1{
      margin-top: 10px;
    }
  }
}


.vision{
  margin-top: 80px;
  padding:0 15px;
}


.message{
  margin-top:80px;
  padding:0 15px;
  padding-left:0;
  .message__img{
    width:calc(340 / 375 * 100vw);
  }
  .message__text{
    margin-top: calc(-230px + 120px);
    background-color: #F0F0F0;
    width: calc(100% - 15px);
    padding:126px 28px 80px;
    .message__text_txt{
      font-size: 14px;
      line-height: 2;
      letter-spacing: 0;
    }
  }
}


.company{
  margin-top:80px;
  padding:0 15px;
  .company__border{
    border-bottom: 1px solid #DDDDDD;
  }
  table{
    float:none;
    width:100%;
    font-size:14px;
    tr{
      border-bottom: 1px solid #DDDDDD;
      .company__table-item{
        font-weight: normal;
        width:40%;
      }
      .company__tabel-value{
        width:60%;
      }
    }
  } 
  .company__map{
    margin:40px 0 80px;
    height:470px;
  }
}



//-----------------------------
//CONTACT スマホ
//-----------------------------
.cont__header{
  @include header(365px);
  .header__main-image{
    @include header__main-image(calc(287 / 375 *100%));
    height:270px;
  }
  .header__bk-area{
    @include header__bk-area(calc(198 / 375 *100%));
  }
  .header__main-text{
    top: 129px;
    right:21px;
    text-align: right;
  }
}

.contact__form{
  margin:80px 0;
  padding: 0 15px;
  .contact__form-area{
    .form__exp{
      font-size: 14px;
    }
    form{
      margin-top: 51px;
      font-family: "游ゴシック体";
    }
    label{
      font-weight: bold;
    }
    textarea{
      font-size: 14px;
    }
    .confirm{
      text-align: left !important;
      .confirm_txt{
        font-weight: normal;
        font-size: 14px;
      }
    }
  }
}


}







@media (min-width:1440px){
  .header__photo{
    width:100% !important;
  }
}